.rotate {
	animation: rotation 8s infinite linear;
}



.skipbut:hover {
  filter: brightness(50%);
}
.skipbut:active {
  filter: brightness(20%);
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@font-face {
	font-family: Jet Set;
	src: url(fonts/JetSet.ttf);
}

h2 {
	font-family: Jet Set;
	width: 100%;
	bottom: 3;
	text-align: center;
}

body {
	background-color: #0c593b;
}

.news_button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Jet Set;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  background-color: #51565C;
  border: solid #3D4146 6px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: absolute;
	top:4;
	bottom: 50%;
	left: 5;
	right: 0;
}

.news_button:hover {
  background: #39393A;
  border: solid #36373A 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
